@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register";
}

@using MrFixIt.ViewModels

@model RegisterViewModel

<div class="text-center register-form">
    <h2>REGISTER AS A NEW WORKER</h2>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <h4>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </h4>

        <h4>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </h4>

        <h4>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </h4>    
        <br />
        
        <input type="submit" class="btn-lg btn btn-default" value="REGISTER" />
    }
</div>