@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mr Fix-It";
}

@model IEnumerable<MrFixIt.Models.Job>

<div class="text-center">
    <img src="~/images/plumber.jpg" />
</div>
<div class="current-jobs">
    <h3>OUR CURRENT JOBS</h3>
    @Html.ActionLink("Add a New Job", "Create")
</div>
<br />
<hr />
@foreach (var Job in Model)
{
    <div class="job-list text-center">
        <h3>@Job.Title</h3>

        <h4><em>@Job.Description</em></h4>

        @if (Job.Worker == null)
        {
            <h5>This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</h5>
        }
        else
        {
            <h5>This job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</h5>
        }
        @if (Job.Active == true)
        {
           <h5>Job Status: Active</h5> 
        }
        else
        {
            <h5>Job Status: Inactive</h5>

        }

    </div>
    <hr />
}
