@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mr Fix-It";
}


@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Welcome Back, @Model.FirstName @Model.LastName. You are Logged In!</h4>
        <h3>YOUR CURRENT JOBS:</h3>
        <br>
        @foreach (var Job in Model.Jobs)
        {

            <h4>
                <strong>
                    @Job.Title
                </strong>
            </h4>

            if (@Job.Completed == true)
            {
                <h5>Completed</h5>

            }
            else
            {
                <h5>Incomplete</h5>

            }

            if (@Job.Active == true)
            {
                <h5>Active</h5>

            }
            else
            {
                <h5>Inactive</h5>

            }
            <button class="edit-form" value="@Job.JobId">Edit Status </button>
            <hr />

        }

        <div class="return-edit"></div>

        @if (Model.Available)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}